/**
* Description: Grid theme for Nocturnal based on less, lessphp and semantic.gs.
*/

/*Colours
- #FFE787
- #05A696
- #047F8C
- #033250
*/

/** --------------------------------------------------------------
* semantic.gs
*/
@import url(semantic.gs/stylesheets/less/grid.less);
@import url(http://fonts.googleapis.com/css?family=Shojumaru);


/** --------------------------------------------------------------
* Settings
*/
@bgcolor1: #045260;
@bgcolor2: #05A696;
@bgcolor3: #033250;
@bgcolor4: #047F8C;
@bgtest: hsla(0,0%,90%,0.1);
@color: #FFE787;
@linkColor: #05A696;

/** --------------------------------------------------------------
* Fonts
*/

@font-family-cambria    = Cambria, Georgia, Times, 'Times New Roman', serif;
@font-family-helvetica  = Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-monospace  = "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;

/* Wrap elements to site width in grid layout*/
.wrap() {width:@total-width;margin:0 auto;.clearfix();}

@magic-number:22px;

/*Reseting*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,
time,mark,audio,video{margin:0;padding:0;border:0;font-size:100.01%;font:inherit;vertical-align:baseline;}
body{line-height:1;}
ol,ul{list-style: none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

/** --------------------------------------------------------------
* HTML5 elements.
*
*/
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}

/** --------------------------------------------------------------
* Typography
*/
.headings-general() {font-weight:normal;color:@color;margin-bottom:@magic-number;font-family:@font-family-cambria;}
h1{.headings-general;font-size:2.375em;line-height:1.1579;border-bottom:1px solid #ccc;margin-bottom:@magic-number - 1px;}
h2{.headings-general;font-size:1.875em;line-height:1.4667;}
h3{.headings-general;font-size:1.375em;line-height:1;}
h4{.headings-general;font-size:1.25em;line-height:1.1;}
h5{.headings-general;font-size:1em;font-weight:bold;}
h6{.headings-general;font-size:1em;font-weight:bold;margin-bottom:0;}
h1 img,h2 img,h3 img,h4 img,h5 img,h6 img{margin: 0;}

@link-color: #600;
/* Text elements */
p{margin-bottom:1.375em;}
a{color:@link-color;text-decoration:underline;
  &:focus,&:hover{color:lighten(@link-color, 10%);text-decoration:none;}
}
blockquote{margin-left:1em;margin-bottom:1.375em;}
strong,dfn{font-weight:bold;}
em,dfn{font-style:italic;}
pre{margin-bottom:1.375em;white-space:pre;}
pre,code,tt,.code {font:1em/1.375 @font-family-monospace; overflow: auto;}

/* Lists */
li ul,li ol{margin:0;}
ul,ol{margin:0.6875em 1.5em 1.375em 0;padding-left:1.5em;}
ul{list-style-type:disc;}
ol{list-style-type:decimal;}
dl{margin:0 0 1.375em 0;}
dl dt{font-weight:bold;}
dd{margin-left:1.5em;}

/* Tables. Because of the need for padding on TH and TD, the vertical rhythm
  on table cells has to be 33px, instead of the standard 22px or 44px
  of other elements. */
table{margin-bottom:1.375em;width:100%;}
caption{text-align:left;font-style:italic;}
thead{border-bottom:2px solid #222;}
th{vertical-align:bottom;font-weight:bold;text-align:left;}
th,td{padding:5px 10px 5px 5px;}
tbody tr:nth-child(even) td, tbody tr.even td {}
tbody tr{border-bottom:1px solid #eee;
  &:hover{color:#FFF;}
}
tfoot{font-style:italic;}


/** --------------------------------------------------------------
* Forms
*/

fieldset {border: 0px;}

input
{
  background: @bgcolor4;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

input:hover
{
  border: 1px solid @inputHoover;
}

textarea
{
  background: @bgcolor4;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
  height: 100px;
  min-height: 100px;
  max-height: 100px;
  min-width: 300px;
  max-width: 300px;
}

textarea:hover
{
  border: 1px solid @inputHoover;
}
input[readonly]{color:#666;}
label{font-size:smaller;}
.validation-failed{border:2px solid red;}
.validation-message{color:red;font-size:smaller;}
.form-action-link{font-size:smaller;}

.content-edit{
  input[type=text]{width:30em;}
  textarea{width:40em;height:15em;}
}


/** --------------------------------------------------------------
* HTML & Body
*/
html{background-color:@bgcolor2;}
body{margin:0;padding:0;color:@color;background-color:@bgcolor2;font:100.01%/1.375 @font-family-helvetica;
} 


/** --------------------------------------------------------------
* The header area.
*
*/
.tablecell() {display:table-cell;vertical-align:middle;text-align:center;}
#outer-wrap-header{height:@magic-number*4;margin-top:@magic-number/2;margin-bottom:@magic-number/2;}
#inner-wrap-header{.wrap();background: @bgcolor4; border-radius: 10px;}
#header{.column(12);}


/** --------------------------------------------------------------
* Login menu
*/
#login-menu{float:right;font-size:smaller;
  img.gravatar{vertical-align:middle;}
  a{text-decoration:none;}
  a:hover{text-decoration:underline;}
}


/** --------------------------------------------------------------
* Banner
*/
#banner {display:table;margin-bottom:@magic-number/2;
  #site-logo{.tablecell();}
  #site-title{.tablecell();font-size:2.5em;padding-left:0.2em;text-shadow:#ccc 2px -2px 2px;
    a{text-decoration:none; font-family: 'Shojumaru', cursive;}
  }
  #site-slogan{.tablecell();font-size:1.5em;padding-left:10px; font-family: 'Shojumaru', cursive;}
}


/** --------------------------------------------------------------
* The flash area.
*
*/
#outer-wrap-flash{}
#inner-wrap-flash{.wrap();height:@magic-number*3;margin-bottom:@magic-number;}
#flash{.column(12);height:100%;}

#navbar {
  font-family: arial;
  font-weight: bold;
  padding: 2px 8px;
  background:@bgcolor4;
}
#navbar a {padding:6px 8px;text-decoration:none;border:2px solid transparent;}
#navbar a:hover,
#navbar a.selected
{background:@bgcolor1;border:2px solid #FFE787;border-radius: 10px;}


/** --------------------------------------------------------------
* The featured area.
*
*/
#outer-wrap-featured{}
#inner-wrap-featured{.wrap;height:@magic-number*5;margin-bottom:@magic-number;}
#featured{}

#featured-first,
#featured-middle,
#featured-last{.column(4);;height:100%;}


/** --------------------------------------------------------------
* The main content area.
*
*/
#outer-wrap-main{}
#inner-wrap-main{.wrap;margin-bottom:@magic-number;background: @bgcolor3;border-radius: 10px;}
#main{}

#primary{.column(8);}
#sidebar{.column(4);}


/** --------------------------------------------------------------
* The triptych area.
*
*/
#outer-wrap-triptych{}
#inner-wrap-triptych{.wrap();height:@magic-number*5;margin-bottom:@magic-number;}
#triptych{height:inherit;}

#triptych-first,
#triptych-middle,
#triptych-last{.column(4);background-color:@bgtest;height:100%;}


/** --------------------------------------------------------------
* The footer column area.
*
*/
#outer-wrap-footer-column{background-color:@bgtest;border-top:1px solid #bbb;}
#inner-wrap-footer-column{.wrap();height:@magic-number*5;padding-bottom:@magic-number;}
#footer{height:inherit;}

#footer-column-one,
#footer-column-two,
#footer-column-three,
#footer-column-four{.column(3);font-size:0.9em;margin-top:1em;height:100%;
background-color:lighten(@bgtest,10%);}


/** --------------------------------------------------------------
* The footer area.
*
*/
#outer-wrap-footer{}
#inner-wrap-footer{.wrap();}
#footer{.column(12);padding-bottom:@magic-number;}


/** --------------------------------------------------------------
* Links
*/
.hover(){text-decoration:none;color:@linkColor;}
a{color:inherit;
  &:link{}
  &:visited{}
  &:hover{.hover()}
  &:focus{.hover()}
  &:active{}
}


/** --------------------------------------------------------------
* User feedback message wrappers.
*/
.error, .alert, .warning, .notice, .success, .info {
padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice, .warning { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success       { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info          { background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a, .warning a { color: #514721; }
.success a         { color: #264409; }
.info a            { color: #205791; }


/** --------------------------------------------------------------
* Misc
*/
.smaller-text{font-size:smaller;}
.silent{color:#999;}

.gbMsg
{
  background: transparent;
  border: 1px solid gray;
  margin-bottom:0.5em;
  padding:0.5em;
  border-radius: 10px;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 20px;
}

.gbMsgTime
{
  border-radius: 5px;
  padding-left: 5px;
  margin-top: 0px;
}

.gbMsgContent
{
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.strike {text-decoration: line-through;}

.codeWindow
{
	width: 100%;
	max-height: 250px;
	border: 2px solid @bgcolor2;
	background-color: white;
	padding: 10px;
	color: blue;
	font-size: 12px;
	white-space:normal;
}

.code dt
{
	border-bottom: 1px solid black;
	margin-bottom: 5px;
	color: black;
}

.codeTag
{
	color: #A16030;
}

.codeVariable
{
	color: #00AAAA;
}

.codeNumber
{
	color: #378091;
}

.codeQuote
{
	color: #45A120;
}

.codeComment
{
	color: orange;
}

.codeFunction
{
	color: black;
}